<!-- Mainly scripts -->

<script src="{{ url_for('static',filename='js/plugins/metisMenu/jquery.metisMenu.js') }}"></script>
<!-- Custom and plugin javascript -->
<script src="{{ url_for('static',filename='js/plugins/toastr/toastr.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/inspinia.js') }}"></script>
<script src="{{ url_for('static',filename='js/jumpserver.js') }}"></script>
<script>
activeNav();
$(document).ready(function(){
    setAjaxCSRFToken();
    $('textarea').attr('rows', 5);
    if ($('.tooltip')[0]) {
        $('.tooltip').tooltip();
    }
});
</script>
