<div class="row border-bottom">
    <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
        </div>

{#        <form role="search" class="navbar-form-custom" action="#">#}
{#        <div class="form-group">#}
{#            <input type="text" placeholder="Search for..." class="form-control" name="top-search" id="top-search">#}
{#        </div>#}
{#        </form>#}

        <ul class="nav navbar-top-links navbar-right">
            <li>
                <span class="m-r-sm text-muted welcome-message">EB 运维平台</span>
            </li>


            <li class="dropdown">
                <a class="count-info dropdown-toggle" data-toggle="dropdown" href="#" target="_blank">
                    <i class="fa fa-handshake-o"></i>
                    <span class="m-r-sm text-muted welcome-message">帮助<b class="caret"></b></span>
                </a>

                <ul class="dropdown-menu animated fadeInRight m-t-xs profile-dropdown">
                    <li>
                        <a class="count-info"  href="http://docs.jumpserver.org/" target="_blank">
                            <i class="fa fa-file-text"></i>
                            <span class="m-r-sm text-muted welcome-message">文档</span>
                        </a>
                    </li>
                </ul>

            </li>
              <li>
                  <a href="{{ url_for('auth.logout') }}">
                      <i class="fa fa-sign-out"></i> Log out
                  </a>
            </li>
        </ul>
    </nav>
</div>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-10">
        <h2></h2>
        <ol class="breadcrumb">
            <li>
                <a href="{{ url_for('main.index') }}">主页</a>
            </li>
            {% if app %}
            <li>
                <a>{{ app }}</a>
            </li>
            {% endif %}
            {% if action %}
            <li class="active">
                <strong>{{ action }}</strong>
            </li>
            {% endif %}
        </ol>
    </div>
    <div class="col-sm-2">
    </div>
</div>
