<div class="row border-bottom">
    <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
        </div>
        <ul class="nav navbar-top-links navbar-right">
{#            <li>#}
{#                <span class="m-r-sm text-muted welcome-message">Welcome to use Jumpserver system</span>#}
{#            </li>#}

{#            <li class="dropdown">#}
{#                <a class="count-info" href="https://market.aliyun.com/products/53690006/cmgj026011.html?spm=5176.730005.0.0.cY2io1" target="_blank">#}
{#                    <span class="m-r-sm text-muted welcome-message">Supports</span>#}
{#                </a>#}
{#            </li>#}
{#            <li class="dropdown">#}
{#                <a class="count-info"  href="http://docs.jumpserver.org/" target="_blank">#}
{#                     <span class="m-r-sm text-muted welcome-message">Docs</span>#}
{#                </a>#}
{#            </li>#}

            <li class="dropdown">
                <a class="count-info dropdown-toggle" data-toggle="dropdown" href="#" target="_blank">
                    <i class="fa fa-handshake-o"></i>
                    <span class="m-r-sm text-muted welcome-message">帮助<b class="caret"></b></span>
                </a>

                <ul class="dropdown-menu animated fadeInRight m-t-xs profile-dropdown">
                    <li>
                        <a class="count-info"  href="http://docs.jumpserver.org/" target="_blank">
                            <i class="fa fa-file-text"></i>
                            <span class="m-r-sm text-muted welcome-message">文档</span>
                        </a>
                    </li>
                </ul>

            </li>
            <li class="dropdown">
                {% if current_user.is_authenticated %}
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                    <span class="m-r-sm text-muted welcome-message">
                        <img alt="image" class="img-circle" width="30" height="30" src="{{ url_for('static',filename='img/avatar/user.png') }}"/>
                        <span style="font-size: 13px;font-weight: 400"> {{ current_user.username }}
                            <b class="caret"></b>
                        </span>
                    </span>
                </a>
                <ul class="dropdown-menu animated fadeInRight m-t-xs profile-dropdown">
                    <li><a href="#"><i class="fa fa-cogs"> </i><span> 用户信息</span></a></li>
                    <li><a href="#"><i class="fa fa-exchange"></i><span> 管理页面</span></a></li>
                    <li><a href="{{ url_for('auth.logout') }}"><i class="fa fa-sign-out"></i> 注销</a></li>
                </ul>
                {% else %}
                <a href="{{ url_for('auth.login') }}">
                    <i class="fa fa-sign-in"></i>登录
                </a>
                {% endif %}
            </li>
        </ul>
    </nav>
</div>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-10">
        <h2></h2>
        <ol class="breadcrumb">
            <li>
                <a href="">Dashboard</a>
            </li>
                <a>app</a>
            <li class="active">
                <strong>action</strong>
            </li>
        </ol>
    </div>
    <div class="col-sm-2">
    </div>
</div>
