<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">

            <li class="nav-header">
                <div class="dropdown profile-element"> <span>
                    <img alt="image" class="img-circle" src="{{ url_for('static',filename='img/user.png') }}">
                     </span>
                {% if current_user.is_authenticated %}
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                    <span class="clear"> <span class="block m-t-sm"> <strong class="font-bold">{{ current_user.username }}</strong>
                     </span> <span class="text-muted text-xs block">用户信息 <b class="caret"></b></span> </span> </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="{{ url_for('auth.profile') }}">用户信息</a></li>
                        <li><a href="{{ url_for('auth.password') }}">更改密码</a></li>
                        <li class="divider"></li>
                        <li><a href="{{ url_for('auth.logout') }}">退出</a></li>
                    </ul>
                {% else %}
                    <a href="{{ url_for('auth.login') }}">
                        <i class="fa fa-sign-in"></i>登录
                    </a>
                {% endif %}
                </div>
                <div class="logo-element">EB</div>
            </li>


            <li id="index">
                <a href="{{ url_for('main.index') }}">
                    <i class="fa fa-dashboard" style="width: 14px"></i> <span class="nav-label">主页</span>
                    <span class="label label-info pull-right"></span>
                </a>
            </li>
            <li id="users">
                <a href="#">
                    <i class="fa fa-group" style="width: 14px"></i> <span class="nav-label">用户管理</span><span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level active">
                    <li id="user"><a href="{{ url_for('auth.users') }}">用户列表</a></li>
                    <li id="user-group"><a href="#">用户组</a></li>
                </ul>
            </li>
            <li id="assets">
                <a>
                    <i class="fa fa-database" style="width: 14px"></i> <span class="nav-label">资产管理</span><span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li id="asset"><a href="{{ url_for('assets.asset') }}">资产列表</a></li>
                    <li id="domain"><a href="{{ url_for('assets.dashboard') }}">资产统计</a></li>
                    <li id="admin-user"><a href="{{ url_for('assets.query') }}">资产查询</a></li>
                </ul>
            </li>


            <li id="ops">
                <a>
                    <i class="fa fa-coffee" style="width: 14px"></i> <span class="nav-label">作业计划</span><span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li id="ops_sec"><a href="/ops/sec">安全维护</a></li>
                    <li id="ops_ims"><a href="/ops/ims">IMS业务平台</a></li>
                    <li id="ops_vpmn"><a href="/ops/vpmn">省网管中心智能网</a></li>
                    <li id="ops_vss"><a href="/ops/vss">短号短（彩）信维护</a></li>
                    <li id="ops_cl"><a href="/ops/cl">网维中心彩铃维护</a></li>
                </ul>
            </li>

            <li id="check">
                <a>
                    <i class="fa fa-history" style="width: 14px"></i> <span class="nav-label">自动例检</span><span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li id="c-info"><a href="{{ url_for('check.info') }}">主机例检</a></li>
                    <li id="c-set"><a href="#">例检配置</a></li>
                    <li id="c-task"><a href="#">例检任务</a></li>
                    <li id="c-history"><a href="#">例检记录</a></li>
                </ul>
            </li>

            <li id="alarm">
                <a href="#">
                    <i class="fa fa-globe" style="width: 14px"></i> <span class="nav-label">告警分析</span>
                    <span class="label label-info pull-right"></span>
                </a>
            </li>

            <li id="tongji">
                <a href="#">
                    <i class="fa fa-bar-chart-o" style="width: 14px"></i> <span class="nav-label">统计数据</span>
                    <span class="label label-info pull-right"></span>
                </a>
            </li>

        </ul>
    </div>
</nav>
