{% extends 'base.html' %}

{% block custom_head_css_js %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/plugins/datepicker/datepicker3.css') }}"/>
<script src="{{ url_for('static',filename='js/plugins/datepicker/bootstrap-datepicker.js') }}"></script>
{% endblock %}

{% block content %}
<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-sm-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>
						例检记录
					</h5>
					<div class="ibox-tools">
						<a class="collapse-link">
							<i class="fa fa-chevron-up"></i>
						</a>
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">
							<i class="fa fa-wrench"></i>
						</a>
						<a class="close-link">
							<i class="fa fa-times"></i>
						</a>
					</div>
				</div>
				<div class="ibox-content">
					<div class="" id="content_start">
						<style>
							#search_btn {margin-bottom: 0;}
						</style>

						<form id="search_form" method="get" action="" class="pull-right form-inline">
							<div class="form-group" id="date">
								<div class="input-daterange input-group" id="datepicker">
									<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
									<input type="text" id="id_date" class="input-sm form-control" style="width: 100px;" name="date"
									 value="20190101">
								</div>
							</div>
							<div class="input-group">
								<input type="text" id="search" class="form-control input-sm" name="keyword" placeholder="搜索" value="">
							</div>
							<div class="input-group">
								<div class="input-group-btn">
									<button id="search_btn" type="submit" class="btn btn-sm btn-primary">
										搜索
									</button>
								</div>
							</div>
						</form>

					</div>

					<div id="login_log_table_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
						<div class="row">
							<div class="col-sm-6"></div>
							<div class="col-sm-6"></div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<table class="table table-striped table-bordered table-hover  dataTable no-footer" id="login_log_table" role="grid">
									<thead>
										<tr role="row">
											<th class="text-center" tabindex="0" aria-controls="login_log_table" rowspan="1" colspan="1" style="width: 10%;">ID</th>
											<th class="text-center" tabindex="0" aria-controls="login_log_table" rowspan="1" colspan="1" style="width: 18%;">类型</th>
											<th class="text-center" tabindex="0" aria-controls="login_log_table" rowspan="1" colspan="1" style="width: 18%;">名称</th>
											<th class="text-center" tabindex="0" aria-controls="login_log_table" rowspan="1" colspan="1" style="width: 18%;">例检时间</th>
											<th class="text-center" tabindex="0" aria-controls="login_log_table" rowspan="1" colspan="1" style="width: 18%;">操作员</th>
											<th class="text-center" tabindex="0" aria-controls="login_log_table" rowspan="1" colspan="1" style="width: 18%;">下载报告</th>
									</thead>
									<thead>
									</thead>
									<tbody>
                                    {% for data in datas %}
                                        <tr class="gradeX odd" role="row">
                                        <td class="text-center">{{ data.id }}</td>
                                        <td class="text-center">{{ data.type }}</td>
                                        <td class="text-center">{{ data.hostname }}</td>
                                        <td class="text-center">{{ data.checktime }}</td>
                                        <td class="text-center">{{ data.operator }}</td>
                                        <td class="text-center"><a class="btn btn-primary btn-xs" href="/check/download/{{ data.checktime }}" role="button">下载</a></td>
                                        </tr>
                                    {% endfor %}
									</tbody>
								</table>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-5"></div>
							<div class="col-sm-7"></div>
						</div>
					</div>
				    <div class="row">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-4">
                           <div class="dataTables_info text-center" id="editable_info" role="status" aria-live="polite">当前第 {{ paginate.page }} 页; 总共 {{ paginate.total }} 项</div>
                        </div>
                        <div class="col-sm-4">
                           <div class="dataTables_paginate paging_simple_numbers" id="editable_paginate">
                              <ul class="pagination" style="margin-top: 0; float: right">
                                <li>
                                {% if paginate.has_prev %}
                                    <a href="/check/history?page={{ paginate.prev_num }}" aria-label="Previous">
                                {% else %}
                                    <a href="#" aria-label="Previous">
                                {% endif %}
                                <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                {%  for i in  paginate.iter_pages() %}
                                <li><a href="/check/history?page={{ i }}">{{ i }}</a></li>
                                {% endfor %}
                                <li>
                                  {% if paginate.has_next %}
                                      <a href="/check/history?page={{ paginate.next_num }}" aria-label="Next">
                                  {% else %}
                                      <a href="#" aria-label="Next">
                                  {% endif %}
                                    <span aria-hidden="true">&raquo;</span>
                                  </a>
                                </li>
                              </ul>
                           </div>
                        </div>
                    </div>
                </div>
			</div>
		</div>
	</div>

</div>
<script>
    $(document).ready(function() {
        $('.input-daterange.input-group').datepicker({
            format: "yyyymmdd",
            todayBtn: "linked",
            keyboardNavigation: false,
            forceParse: false,
            calendarWeeks: true,
            autoclose: true
        });
    })
</script>

{% endblock %}