{% extends 'base.html' %}
{% block custom_head_css_js %}
    <script src="{{ url_for('static',filename='js/plugins/echarts/echarts.min.js') }}"></script>
{% endblock %}
{% block content %}
<div class="wrapper wrapper-content animated fadeInRight">
      <div class="row">

        <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-primary pull-right">{{ node_pfmc_data.node_time }}</span>
                        <h5>网络接通率 <small>当前同网元最小值</small></h5>
                    </div>
                    <div class="ibox-content">

                        <div class="row">
                            <div class="col-md-3">
                                <h1 class="no-margins">{{ node_pfmc_data.scpas[1] }}%</h1>
                                <div class="font-bold text-navy"><small>{{ node_pfmc_data.scpas[0] }}</small></div>
                            </div>
                            <div class="col-md-3">
                                <h1 class="no-margins">{{ node_pfmc_data.catas[1] }}%</h1>
                                <div class="font-bold text-navy"><small>{{ node_pfmc_data.catas[0] }}</small></div>
                            </div>
                            <div class="col-md-3">
                                <h1 class="no-margins">{{ node_pfmc_data.sicp[1] }}%</h1>
                                <div class="font-bold text-navy"><small>{{ node_pfmc_data.sicp[0] }}</small></div>
                            </div>
                            <div class="col-md-3">
                                <h1 class="no-margins">{{ node_pfmc_data.scim[1] }}%</h1>
                                <div class="font-bold text-navy"> <small>{{ node_pfmc_data.scim[0] }}</small></div>
                            </div>

                        </div>


                    </div>
                </div>
            </div>


    </div>


    <div class="row">
          <div class="col-lg-3">
              <div class="ibox float-e-margins">
                  <div class="ibox-title">
                      <span class="label label-success pull-right">用户数</span>
                      <h5>Volte 智能网</h5>
                  </div>
                  <div class="ibox-content">
                      <h1 class="no-margins">{{ t_v_users }}</h1>
                      <div class="stat-percent font-bold text-success">{{ vpmn_per }}
                          {% if vpmn_per_flag==1 %}
                          <i class="fa fa-level-up"></i>
                          {% else %}
                          <i class="fa fa-level-down"></i>
                          {% endif %}
                      </div>
                      <small>同比</small>
                  </div>
              </div>
          </div>

          <div class="col-lg-3">
              <div class="ibox float-e-margins">
                  <div class="ibox-title">
                      <span class="label label-info pull-right">用户数</span>
                      <h5>Volte 彩铃</h5>
                  </div>
                  <div class="ibox-content">
                      <h1 class="no-margins">{{ t_crbt }}</h1>
                      <div class="stat-percent font-bold text-info">{{ crbt_per }}
                          {% if crbt_per_flag==1 %}
                          <i class="fa fa-level-up"></i>
                          {% else %}
                          <i class="fa fa-level-down"></i>
                          {% endif %}
                      </div>
                      <small>同比</small>
                  </div>
              </div>
          </div>

          <div class="col-lg-3">
              <div class="ibox float-e-margins">
                  <div class="ibox-title">
                      <span class="label label-primary pull-right">用户数</span>
                      <h5>视频彩铃</h5>
                  </div>
                  <div class="ibox-content">
                      <h1 class="no-margins">{{ t_vrbt }}</h1>
                      <div class="stat-percent font-bold text-navy">{{ vrbt_per }}
                          {% if vrbt_per_flag==1 %}
                          <i class="fa fa-level-up"></i>
                          {% else %}
                          <i class="fa fa-level-down"></i>
                          {% endif %}
                      </div>
                      <small>同比</small>
                  </div>
              </div>
          </div>

          <div class="col-lg-3">
              <div class="ibox float-e-margins">
                  <div class="ibox-title">
                      <span class="label label-danger pull-right">用户数</span>
                      <h5>Centrex</h5>
                  </div>
                  <div class="ibox-content">
                      <h1 class="no-margins">{{ t_ctx_users }}</h1>
                      <div class="stat-percent font-bold text-danger">{{ ctx_per }}
                          {% if ctx_per_flag==1 %}
                          <i class="fa fa-level-up"></i>
                          {% else %}
                          <i class="fa fa-level-down"></i>
                          {% endif %}
                      </div>
                      <small>总用户数</small>
                  </div>
              </div>
          </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
           <div class="ibox float-e-margins">
              <div class="ibox-title">
                  <h5>CAPS 统计</h5>
                  <span class="label label-info pull-right">最近15天</span>
              </div>
              <div class="ibox-content">
                  <div class="flot-chart" id="caps" style="height:300px;">
                      <script type="text/javascript">
                        // 基于准备好的dom，初始化echarts实例
                        var myChart = echarts.init(document.getElementById('caps'));

                        var option = {
                            title: {
                                subtext: '网元caps总和（小时峰值）',
                                left: '12%',
                                textAlign: 'center'
                            },
                            tooltip: {
                                trigger: 'axis',
                                axisPointer: {
                                    lineStyle: {
                                        color: '#ddd'
                                    }
                                },
                                backgroundColor: 'rgba(255,255,255,1)',
                                padding: [5, 10],
                                textStyle: {
                                    color: '#7588E4',
                                },
                                extraCssText: 'box-shadow: 0 0 5px rgba(0,0,0,0.3)'
                            },
                            legend: {
                                icon: 'rect',
                                itemWidth: 14,
                                itemHeight: 5,
                                itemGap: 13,
                                right: '4%',
                                textStyle: {
                                    fontSize: 12,
                                    color: '#070c11'
                                }
                            },


                            xAxis: {
                                type: 'category',
                                boundaryGap: false,
                                axisTick: {
                                    show: false
                                },
                                axisLine: {
                                    lineStyle: {
                                        color: '#070c11'
                                    }
                                },
                                axisLabel: {
                                    margin: 10,
                                    textStyle: {
                                        fontSize: 14
                                    }
                                }
                            },
                            yAxis: {
                                type: 'value',
                                splitLine: {
                                    lineStyle: {
                                        color: ['#D4DFF5']
                                    }
                                },
                                axisTick: {
                                    show: false
                                },
                                axisLine: {
                                    lineStyle: {
                                        color: '#070c11'
                                    }
                                },
                                axisLabel: {
                                    margin: 10,
                                    textStyle: {
                                        fontSize: 14
                                    }
                                }
                            },
                            series: []
                        };

                        myChart.setOption(option);
                        myChart.showLoading();
                        $.get('/tongji/api/caps').done(function (data) {
                                myChart.hideLoading();
                                // 填入数据
                                myChart.setOption({
                                    dataset: {
                                        // 提供一份数据。
                                        source: data
                                    },

                                  series: [
                                      {type: 'line', smooth: true, seriesLayoutBy: 'row',showSymbol: false},
                                      {type: 'line', smooth: true, seriesLayoutBy: 'row',showSymbol: false},
                                      {type: 'line', smooth: true, seriesLayoutBy: 'row',showSymbol: false},
                                      {type: 'line', smooth: true, seriesLayoutBy: 'row',showSymbol: false},
                                      {type: 'line', smooth: true, seriesLayoutBy: 'row',showSymbol: false}
                                  ]

                                });

                            });
                    </script>

                  </div>
              </div>
          </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-warning pull-right">{{ last_date }}</span>
                    <h5>主机性能数据</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-xs-4">
                            <small class="stats-label">CPU / max</small>
                            <h4>{{ cpu_data[0][0] }}</h4>
                        </div>

                        <div class="col-xs-4">
                            <small class="stats-label">% Util</small>
                            <h4>{{ cpu_data[0][1] }}%</h4>
                        </div>
                        <div class="col-xs-4">
                            <small class="stats-label">Hostname</small>
                            <h4>{{ cpu_data[0][2] }}</h4>
                        </div>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-xs-4">
                            <small class="stats-label">Mem / max</small>
                            <h4>{{ mem_data[0][0] }}</h4>
                        </div>

                        <div class="col-xs-4">
                            <small class="stats-label">% Util</small>
                            <h4>{{ mem_data[0][1] }}%</h4>
                        </div>
                        <div class="col-xs-4">
                            <small class="stats-label">Hostname</small>
                            <h4>{{ mem_data[0][2] }}</h4>
                        </div>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-xs-4">
                            <small class="stats-label">Disk IO / max</small>
                            <h4>{{ io_data[0][0] }}</h4>
                        </div>

                        <div class="col-xs-4">
                            <small class="stats-label">% Util</small>
                            <h4>{{ io_data[0][1] }}%</h4>
                        </div>
                        <div class="col-xs-4">
                            <small class="stats-label">Hostname</small>
                            <h4>{{ io_data[0][2] }}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


{% endblock %}
