{% extends 'base.html' %}

{% block custom_head_css_js %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/plugins/datepicker/datepicker3.css') }}"/>
<script src="{{ url_for('static',filename='js/plugins/datepicker/bootstrap-datepicker.js') }}"></script>
{% endblock %}
{% block content %}
<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-sm-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>
						任务管理
					</h5>
					<div class="ibox-tools">
						<div class="row" id="session_table_length">
							<label><small>显示任务数量</small>
								<select id="slct_bulk_update" aria-controls="session_table" class="input-sm">
									<option value="15">---</option>
									<option value="10">10</option>
									<option value="20">20</option>
									<option value="30">30</option>
									<option value="50">50</option>
								</select>
							</label>
							<div class="uc pull-right m-r-5">
							   <a class="btn btn-sm btn-primary" id="check_nodes" href="/ops/monitor"> 刷新 </a>
							</div>
						</div>

					</div>
				</div>
				<div class="ibox-content">

					<div id="login_log_table_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
						<div class="row">
							<div class="col-sm-12">
								<table class="table table-striped table-bordered table-hover  dataTable no-footer" id="login_log_table" role="grid">
									<thead>
										<tr role="row">
											<th class="text-center" tabindex="0" aria-controls="login_log_table" rowspan="1" colspan="1" style="width: 15%;">任务id</th>
											<th class="text-center" tabindex="0" aria-controls="login_log_table" rowspan="1" colspan="1" style="width: 6%;">类型</th>
											<th class="text-center" tabindex="0" aria-controls="login_log_table" rowspan="1" colspan="1" style="width: 6%;">提交者</th>
											<th class="text-center" tabindex="0" aria-controls="login_log_table" rowspan="1" colspan="1" style="width: 15%;">名称</th>
											<th class="text-center" tabindex="0" aria-controls="login_log_table" rowspan="1" colspan="1" style="width: 8%;">状态</th>
											<th class="text-center" tabindex="0" aria-controls="login_log_table" rowspan="1" colspan="1" style="width: 12%;">创建时间</th>
											<th class="text-center" tabindex="0" aria-controls="login_log_table" rowspan="1" colspan="1" style="width: 12%;">完成时间</th>
                                            <th class="text-center" tabindex="0" aria-controls="login_log_table" rowspan="1" colspan="1" style="width: 8%;">运行时间</th>
                                            <th class="text-center" tabindex="0" aria-controls="login_log_table" rowspan="1" colspan="1" style="width: 18%;">结果</th>
									    </tr>
									</thead>
									<tbody id="tasks_tab">
                                    {% for task in tasks %}
                                        <tr class="gradeX odd" role="row">
                                            <td class="text-center"><a href="/ops/monitor/info/{{ task.id }}">{{ task.id }}</a></td>
                                            <td class="text-center">{{ task.type }}</td>
                                            <td class="text-center">{{ task.username }}</td>
											<td class="text-center">{{ task.name }}</td>
                                            <td class="text-center"><i class="fa fa-circle text-{{ task.state[1] }}"></i>  {{ task.state[0] }}</td>
                                            <td class="text-center">{{ task.received }}</td>
                                            <td class="text-center">{{ task.timestamp }}</td>
                                            <td class="text-center">{{ task.runtime }}</td>
                                            <td class="text-center">{{ task.result }}</td>
                                        </tr>
                                    {% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
                </div>
			</div>
		</div>
	</div>

</div>
<script>
    $(document).ready(function() {
        // $('.input-daterange.input-group').datepicker({
        //     format: "yyyymmdd",
        //     todayBtn: "linked",
        //     keyboardNavigation: false,
        //     forceParse: false,
        //     calendarWeeks: true,
        //     autoclose: true
        // });

         $("#slct_bulk_update").change(function() {
        var checkText = $("#slct_bulk_update").find("option:selected").text();
        if(checkText!=="---") {
            $.ajax({
                url: "{{ url_for('ops.monitor') }}",
                type: "post",
                data: {"rows": checkText},
                success:function(data) {
                if(data["flag"]==="success"){
                   $("#tasks_tab").empty();
                   $.each(data["datas"], function (i, n) {
                       var tbBody = "";
                       tbBody += "<tr role=\"row\" >" +
                           "<td class=\" text-center\"><a href=\"/ops/monitor/info/" + n.id + "\">" + n.id  + "</a></td>\n" +
                           "<td class=\" text-center\">" + n.type  + "</td>\n" +
                           "<td class=\" text-center\">" + n.username  + "</td>\n" +
                           "<td class=\" text-center\">" + n.name  + "</td>\n" +
                           "<td class=\" text-center\"><i class=\"fa fa-circle text-" + n.state[1] + "\"></i>" + n.state[0] + "</td>\n" +
                           "<td class=\" text-center\">" + n.received  + "</td>\n" +
                           "<td class=\" text-center\">" + n.timestamp  + "</td>\n" +
                           "<td class=\" text-center\">" + n.runtime  + "</td>\n" +
                           "<td class=\" text-center\">" + n.result  + "</td>\n" +
                           "</tr>";
                       $("#tasks_tab").append(tbBody);
                   })

                }
                else toastr.error("查询失败");
                }
            });
        }

    });
    })
</script>

{% endblock %}