{% extends 'base.html' %}
{% block content %}
<div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="panel-options">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="" class="text-center"><i class="fa fa-laptop"></i> 个人信息 </a>
                            </li>
                            <li class="pull-right">
                                <a class="btn btn-outline btn-default" href="#"><i class="fa fa-edit"></i>设置</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="col-sm-8" style="padding-left: 0;">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    {% if user.role == 1 %}
                                    <span class="label label-primary"><b>管理员</b></span>
                                    {% else %}
                                    <span class="label label-primary"><b>普通用户</b></span>
                                    {% endif %}
                                    <div class="ibox-tools">
                                        <a class="collapse-link">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                        <a class="close-link">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="ibox-content">
                                    <div class="text-left">
                                        <table class="table">
                                            <tbody>
                                            <tr class="no-borders-tr">
                                                <td class="text-navy">用户名</td>
                                                <td>{{ user.username }}</td>
                                            </tr>
                                            <tr>
                                                <td class="text-navy">角色</td>
                                               {% if user.role == 1 %}
                                                <td>管理员</td>
                                                {% else %}
                                                <td>用户</td>
                                                {% endif %}
                                            </tr>
                                            <tr>
                                                <td class="text-navy">邮件</td>
                                                <td>{{ user.mail }}</td>
                                            </tr>
                                            <tr>
                                                <td class="text-navy">激活中</td>
                                                {% if user.status == 1 %}
                                                <td>Yes</td>
                                                {% else %}
                                                <td>No</td>
                                                {% endif %}
                                            </tr>

                                            <tr>
                                                <td class="text-navy">创建日期</td>
                                                <td>{{ user.create_time }}</td>
                                            </tr>
                                            <tr>
                                                <td class="text-navy">最后登录</td>
                                                <td>{{ user.last_time }}</td>
                                            </tr>

                                        </tbody></table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4" style="padding-left: 0;padding-right: 0">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <i class="fa fa-info-circle"></i> 快速修改
                            </div>
                            <div class="panel-body">
                                <table class="table">
                                    <tbody>


                                    <tr class="no-borders">
                                        <td>更改密码:</td>
                                        <td>
                                            <span class="pull-right">
                                                <a type="button" class="btn btn-primary btn-xs" style="width: 54px" href="{{ url_for('auth.password') }}">更新</a>
                                            </span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
{% endblock %}