{% extends 'base.html' %}
{% block content %}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>
                        用户列表
                    </h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    {% if current_user.is_admin %}
                    <div>
                        <a href="{{ url_for('auth.create') }}" class="btn btn-sm btn-primary"> 创建用户 </a>
                    </div>
                    <div id="user_list_table_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                        <div id="uc" class="pull-left">
                        </div>


                        <table class="table table-striped table-bordered table-hover dataTable no-footer" id="user_list_table" role="grid">
                        <thead>
                            <tr role="row">
                                <th class="text-center sorting_disabled" rowspan="1" colspan="1" aria-label="" style="width: 3%;">
                                    <input id="" type="checkbox" class="ipt_check_all">
                                </th>
                                <th class="text-center sorting_disabled" rowspan="1" colspan="1" style="width: 15%;" >用户名</th>
                                <th class="text-center sorting_disabled" rowspan="1" colspan="1" style="width: 15%;" >密码</th>
                                <th class="text-center sorting_disabled" rowspan="1" colspan="1" style="width: 15%;" >邮箱</th>
                                <th class="text-center sorting_disabled" rowspan="1" colspan="1" style="width: 15%;" >用户组</th>
                                <th class="text-center sorting_disabled" rowspan="1" colspan="1" style="width: 7%;" >有效</th>
                                <th class="text-center sorting_disabled" rowspan="1" colspan="1" style="width: 15%;" >最后登录时间</th>
                                <th class="text-center sorting_disabled" rowspan="1" colspan="1" style="width: 15%;" >动作</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for user in users %}
                            {% if user.id/2 == 0 %}
                                <tr role="row" class="odd">
                            {% else %}
                                <tr role="row" class="even">
                            {% endif %}
                                <td class=" text-center"><input type="checkbox" class="text-center ipt_check"></td>
                                <td class=" text-center"><a href="#">{{ user.username }}</a></td>
                                <td class=" text-center">{{ user.password }}</td>
                                <td class=" text-center">{{ user.mail }}</td>
                            {% if user.role == 1 %}
                                <td class=" text-center">管理员</td>
                            {% else %}
                                <td class=" text-center">普通用户</td>
                            {% endif %}
                            {% if user.status == 1 %}
                                <td class=" text-center"><i class="fa fa-check text-navy"></i></td>
                            {% else %}
                                <td class=" text-center"><i class="fa fa-times text-danger"></i></td>
                            {% endif %}
                                <td class=" text-center">{{ user.last_time }}</td>
                                <td class=" text-center">
                                    <button type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target="#myModal" data-whatever="{{ user.id }}">更新</button>
                                    <button type="button" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#myDelModal" data-whatever="{{ user.id }}">删除</button>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        </table>

                    <div class="row m-t">
                        <div class="col-md-8">
                            <div id="op" class="col-md-6">
                                <div class="input-group">
                                    <select class="form-control m-b" style="width: auto" id="slct_bulk_update">
                                        <option value="deactive">禁用所选</option>
                                        <option value="active">激活所选</option>
                                    </select>
                                    <div class="input-group-btn pull-left" style="padding-left: 5px;">
                                        <button id="btn_bulk_update" style="height: 32px;" class="btn btn-sm btn-primary">
                                            提交
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% else %}
                        <p>无访问权限</p>
                    {% endif %}
                </div>



                <div class="row">
                    <div class="col-sm-4">

                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">修改</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" id="UserUpdateForm">

            <div class="form-group">
                <label class="col-sm-2 control-label">用户名</label>
                <div class="col-sm-10">
                <input type="text" class="form-control" id="username" name="username" disabled>
                </div>
            </div>

            <div class="form-group required">
                <label class="col-sm-2 control-label">密码</label>
                <div class="col-sm-10">
                <input type="text" class="form-control" id="password" name="password">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">邮箱</label>
                <div class="col-sm-10">
                <input type="text" class="form-control" id="mail" name="mail">
                </div>
            </div>

            <div class="form-group required">
                <label class="col-sm-2 control-label">用户组</label>
                <div class="col-sm-10">
                    <select name="role" class="form-control" id="role">
                        <option value="1">管理员</option>
                        <option value="0">普通用户</option>
                    </select>
                </div>
            </div>

            <div class="form-group required">
                <label class="col-sm-2 control-label">状态</label>
                <div class="col-sm-10">
                    <select name="status" class="form-control" id="status">
                        <option value="1">正常</option>
                        <option value="0">锁定</option>
                    </select>
                </div>
            </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" id="SAVE" data-dismiss="modal">保存</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="myDelModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-body">
        确定删除该用户
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">否</button>
        <button type="button" class="btn btn-primary" id="DEL" data-dismiss="modal">是</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
    $('.ipt_check_all').on('click', function() {
      if ($(this).prop("checked")) {
          $(this).closest('table').find('.ipt_check').prop('checked', true);
      } else {
          $(this).closest('table').find('.ipt_check').prop('checked', false);
      }
    });

    $('#myDelModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var id_no = button.data('whatever');
        var modal = $(this);
        modal.find('#DEL').attr("value",id_no);
    });

    $("#DEL").click(function () {
        var user_id = this.value;
        $.ajax({
            url: "{{ url_for('auth.delete') }}",
            type: "post",
            data: {"id":user_id},
            success:function(data) {
                if(data["flag"]==="success"){
                    alert("删除成功");
                    location.reload();
                }
                else alert("删除失败");
            }
        });
    });


    $('#myModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var id_no = button.data('whatever');
        var modal = $(this);
        modal.find('.modal-title').text(id_no);
        $.ajax({   //2、发送给后端
            url: "{{ url_for('auth.get_user_info') }}",
            type: 'POST',
            data: {"id": id_no},
            success:function(data) {
                if(data["flag"]==="success"){
                    var obj = data["user_info"];
                    modal.find('.modal-body #username').val(obj.username);
                    modal.find('.modal-body #password').val(obj.password);
                    modal.find('.modal-body #mail').val(obj.mail);
                    if(String(obj.role)==="1"){
                        modal.find(".modal-body #role option[value='1']").attr("selected","selected");
                    }else{
                        modal.find(".modal-body #role option[value='0']").attr("selected","selected");
                    }
                    if(String(obj.status)==="1"){
                        modal.find(".modal-body #status option[value='1']").attr("selected","selected");
                    }else{
                        modal.find(".modal-body #status option[value='0']").attr("selected","selected");
                    }
                }
                else alert("查询失败")

            }
        });

    });

    $("#SAVE").click(function () {
        var user_id = $(".modal-title").text();
        var formSerial = {};
        formSerial["id"] = user_id;
		 $($("#UserUpdateForm").serializeArray()).each(function(){
		    formSerial[this.name] = this.value;
		 });
        $.ajax({
            url: "{{ url_for('auth.modify_user_info') }}",
            type: "post",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(formSerial),
            dataType: "json",
            success:function(data) {
                if(data["flag"]==="success"){
                    alert("修改成功");
                    location.reload();
                }
                else alert("修改失败");
            }
        });
    });


</script>
{% endblock %}