{% extends 'base.html' %}
{% block content %}
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
      <div class="col-sm-12">
          <div class="ibox float-e-margins">
              <div class="panel-options">
                  <ul class="nav nav-tabs">
                      <li class="active">
                          <a href="/users/profile/password/update/" class="text-center">密码 </a>
                      </li>
                  </ul>
              </div>
              <div class="tab-content" style="background-color: #ffffff">
                  <div class="wrapper wrapper-content animated fadeInRight">
                          <form method="post" class="form-horizontal" action="" enctype="multipart/form-data">

                            {% if error %}
                            <div class="form-group">
                                <div class="alert alert-danger alert-dismissible" role="alert">
                                  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                  <strong>{{ error }}.</strong>
                                </div>
                            {% endif %}


                              <input type="hidden" name="csrfmiddlewaretoken" value="">
                              <div class="form-group required"><label class="col-md-2 control-label" for="id_old_password">原来密码</label><div class="col-md-9"><input type="password" name="old_password" maxlength="128" class="form-control" title="" required="" id="id_old_password"></div></div>
                              <div class="form-group required"><label class="col-md-2 control-label" for="id_new_password">新密码</label><div class="col-md-9"><input type="password" name="new_password" maxlength="128" minlength="5" class="form-control" title="" required="" id="id_new_password"></div></div>

                              <div id="container">
                                  <div class="popover fade bottom in" role="tooltip" id="popover777" style=" display: none; width:260px;">
                                      <div class="arrow" style="left: 50%;"></div>
                                      <h3 class="popover-title" style="display: none;"></h3>
                                      <h4>您的密码必须满足：</h4><div id="id_password_rules" style="color: #908a8a; margin-left:20px; font-size:15px;"><li id="id_security_password_min_length" style="list-style-type:none;"> <i class="fa fa-check-circle-o" style="margin-right:10px;"></i>密码最小长度 6 位</li></div>
                                      <h4 style="margin-top: 10px;">密码强度：</h4><div id="id_progress"><div class="progress "><div class="progress-bar progress-bar-danger" style="width: 1%;"><span class="password-verdict" style="white-space: nowrap;"></span></div></div></div>
                                      <div class="popover-content"></div>
                                  </div>
                              </div>
                              <div class="form-group required"><label class="col-md-2 control-label" for="id_confirm_password">确认密码</label><div class="col-md-9"><input type="password" name="confirm_password" maxlength="128" minlength="5" class="form-control" title="" required="" id="id_confirm_password"></div></div>

                              <div class="hr-line-dashed"></div>
                              <div class="form-group">
                                  <div class="col-sm-4 col-sm-offset-2">
                                      <button class="btn btn-white" type="reset">重置</button>
                                      <button id="submit_button" class="btn btn-primary" type="submit">提交</button>
                                  </div>
                              </div>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
</div>
{% endblock %}